#!/bin/bash
#---------------------------------------------------------------------------------------------------------------------------------------
AA=2023                   # L'année (....2020, 2021, 2022)
MM=11                     # Le mois en chiffre (01, 02, 03 ..... 12)
MONTH=Nov                 # Le mois en lettre {Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec} Attention, c'est en anglais!
JJ=02                     # Le jour (00, 01, 02, ..., 31)
ECH=24                    # La validité : 24 (pour 24h), 48 (pour 48h)
nECH=9                    # Le nombre d'écheances : 9 (pour 24h), 17 (pour 48h)
rr=00                     # Le réseau (00, 12)
#---------------------------------------------------------------------------------------------------------------------------------------
